# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.expo

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Test
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
*.md
docs

# Mobile app specific
*.apk
*.ipa
*.aab
android
ios

# Misc
.DS_Store
*.pem
.turbo
